:root {
  --branding-color: #e4fbfc;
  --button-color: #08979d;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px;
}
nav ul {
  padding: 0;
  margin-top: 25px;
}
nav li {
  display: inline;
  list-style: none;
  font-family: var(--secondary-font-family);
  margin-left: 25px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
.work-link:hover,
nav li.active a {
  color: var(--button-color);
  transition: all 100ms ease-in-out;
}
.work-link {
  color: black;
  text-decoration: none;
}
.oriLogo {
  height: 0px;
  width: 500px;
  padding-top: 10px;
  font-size: 30px;
  font-family: var(--primary-font-family);
}

.square {
  background: var(--branding-color);
  padding: 100px 30px;
}
.square h1 {
  font-family: var(--primary-font-family);
  font-size: 96px;
}
.square h2 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  color: #272142;
}
.square p {
  font-family: var(--secondary-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.btn-branding {
  background: var(--button-color);
  color: #ffffff;
  border-radius: 4px;
  margin-top: 49px;
  padding: 15px 40px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: medium;
  line-height: 27px;
}
.btn-branding:hover {
  color: var(--button-color);
  background: var(--branding-color);
  border-color: var(--button-color);
}
.weather-image img {
  width: 560px;
}
.btn-project {
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  padding: 12px 27px;
  font-weight: medium;
}
.weather-tittle,
.about-tittle,
.contact-tittle {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 64px;
}
.contact-tittle {
  margin-bottom: 80px;
  margin-top: -30px;
}
.weather-prg,
.btn-project {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
  margin-top: 25px;
}
.second-prg {
  margin-right: 25px;
}
.about-prg {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
}

.projects-apps {
  padding: 60px 60px;
}
.content-square h4 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: bold;
}
.content-square h3 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin: 20px 0 0;
}
.work-prg {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-align: center;
  color: #272142;
}
.work-tittle {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 100px;
}
.work-img {
  width: 540px;
}
.photo-oriana {
  width: 500px;
  border-radius: 10px;
}

.content-square {
  padding: 60px 80px;
}

footer .email-link {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  color: black;
}
footer .email-link:hover {
  color: var(--button-color);
  transition: all 200ms ease-in-out;
}
footer a {
  text-decoration: none;
}
.social-links {
  margin-top: 40px;
  margin-bottom: 30px;
}
footer .social-links i {
  color: var(--button-color);
  margin: 30px;
  padding: 16px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(108, 99, 255, 0.1);
  transition: all 150ms ease-in-out;
}
footer .social-links i:hover {
  color: var(--branding-color);
  background: var(--button-color);
}
footer h4 {
  font-size: 48px;
  font-family: var(--primary-font-family);
}
footer p {
  font-size: 18px;
  font-family: var(--secondary-font-family);
  color: rgb(39, 33, 66, 0.7);
}
footer h4,
footer p {
  text-align: start;
}
footer .contact-box {
  margin: 0;
  margin-bottom: 60px;
  padding: 40px 40px 40px 100px;
  background-color: var(--branding-color);
  border-radius: 20px;
}
footer .btn {
  margin-right: -80px;
  margin-top: 30px;
}
.content-square i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #055b5c;
}
.content-square .social-media {
  display: flex;
  justify-content: space-evenly;
}
.content-square .each-media {
  color: #055b5c;
  transition: all 150ms ease-in-out;
}
.content-square .each-media:hover {
  color: var(--button-color);
}
.contact-footer {
  margin-top: 150px;
}

@media (max-width: 960px) {
  .square h1 {
    font-size: 50px;
  }
  .weather-tittle {
    font-size: 44px;
  }
  .square {
    padding: 100px 30px;
  }
  .projects-apps {
    padding: 15px;
    margin-bottom: 50px;
    text-align: center;
  }
  .content-square {
    padding: 18px;
    text-align: center;
  }
  .photo-oriana {
    margin-top: 70px;
  }
  .work-tittle {
    margin-top: 70px;
    font-size: 50px;
  }

  nav a {
    font-size: 12px;
  }
  .oriLogo {
    font-size: 22px;
    padding-top: 25px;
  }
  .second-prg {
    margin-right: 0;
  }
  .contact-tittle {
    margin-top: 100px;
  }
  footer .contact-box {
    padding: 10px;
    margin: 70px 0;
  }
  footer h4,
  footer p {
    text-align: center;
  }
  footer .btn {
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
  }
  footer h4 {
    font-size: 40px;
  }
  .content-square .social-media {
    display: block;
  }
}
