:root {
  --branding-color: #f9f7fe;
  --button-color: #6c63ff;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px;
}
nav ul {
  padding: 0;
  margin-top: 25px;
}
nav li {
  display: inline;
  list-style: none;
  font-family: var(--secondary-font-family);
  margin-left: 25px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--button-color);
}

.square {
  background: var(--branding-color);
  padding: 200px 30px;
}
.square h1 {
  font-family: var(--primary-font-family);
  font-size: 96px;
}
.square h2 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  color: #272142;
}
.square p {
  font-family: var(--secondary-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.btn-branding {
  background: var(--button-color);
  color: #ffffff;
  border-radius: 4px;
  margin-top: 49px;
  padding: 15px 40px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: medium;
  line-height: 27px;
}
.weather-image img {
  width: 560px;
}
.btn-project {
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  padding: 12px 27px;
  font-weight: medium;
}
.weather-tittle,
.about-tittle,
.contact-tittle {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 64px;
}
.contact-tittle {
  margin-bottom: 50px;
  margin-top: -30px;
}
.weather-prg,
.btn-project {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
}
.about-prg {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
  width: 90%;
}

.projects-apps {
  padding: 60px 60px;
}
.content-square h4 {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: bold;
}
.content-square h3 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin: 20px 0 0;
}
.work-prg {
  font-family: var(--secondary-font-family);
  font-size: 14px;
  text-align: center;
  color: #272142;
}
.work-tittle {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 100px;
}
.work-img {
  width: 540px;
}
.photo-oriana {
  width: 500px;
  border-radius: 10px;
}

.content-square {
  padding: 200px 80px;
}

.logo {
  max-height: 40px;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 15px;
}

@media (max-width: 960px) {
  .square h1 {
    font-size: 50px;
  }
  .weather-tittle {
    font-size: 44px;
  }
  .square {
    padding: 100px 30px;
  }
  .projects-apps {
    padding: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  .content-square {
    padding: 0;
    text-align: center;
  }
  .photo-oriana {
    margin-top: 70px;
  }
  .work-tittle {
    margin-top: 70px;
  }
  .logo {
    padding: 0;
    margin: 15px;
  }
  nav a {
    font-size: 14px;
  }
}
